# Applying regex to Pandas DataFrame then sum all matches

In [1]:
import pandas as pd

## Created a Pandas DataFrame

In [2]:
my_dict = {'a': '1 x , 2 x , 3 x ','b': '4 x , 5 x , 6 x ', 'c':'7 x , 8 x , 9 x '}
my_df = pd.DataFrame(list(my_dict.items()), columns=['item','my_data'])
my_df.head()

  item           my_data
0    a  1 x , 2 x , 3 x
1    b  4 x , 5 x , 6 x
2    c  7 x , 8 x , 9 x

## Applying regex with findall then sum all results

In [3]:
my_df['sum'] = my_df['my_data'].str.findall(r'(?P<my_pattern>\d+) x ').apply(lambda x: sum(int(i) for i in x))

In [4]:
my_df.head()

  item           my_data  sum
0    a  1 x , 2 x , 3 x     6
1    b  4 x , 5 x , 6 x    15
2    c  7 x , 8 x , 9 x    24