# How to create a Pandas dataframe

## From a dictionary

In [1]:
import pandas as pd

In [2]:
my_dict = {'a': 'My good friend','b': 'My new car', 'c':'my beautiful flower'}
my_dict

{'a': 'My good friend', 'b': 'My new car', 'c': 'my beautiful flower'}

In [3]:
my_df = pd.DataFrame.from_dict(my_dict, orient='index')
my_df.head()

                     0
a       My good friend
b           My new car
c  my beautiful flower

Rename a dataframe column is also posible with:

In [4]:
my_df.rename(columns={0:'column_name'},inplace=True)
my_df

           column_name
a       My good friend
b           My new car
c  my beautiful flower