# Import turbodbc Python module and pandas

In [1]:
#conda install -c conda-forge trubodbc
from turbodbc import connect, make_options
import pandas as pd

## Reading excel from path

In [2]:
df = pd.read_excel("https://s3-eu-west-1.amazonaws.com/londondatastore-upload/alternative-medal-ranks.xls")

## Define turbodbc module recomended settings

In [3]:
options = make_options(parameter_sets_to_buffer=1000, prefer_unicode=True)

## Define drive name, Server DB url, database name and account

In [4]:
conn = connect(driver='{ODBC Driver 13 for SQL Server}', server='den1.mssql5.gear.host',
                       database='cookbookdbname', 
                       TRUSTED_CONNECTION='no', turbodbc_options=options,uid="cookbookdbname", pwd="Hp7ah9Ezn!_K")

In [5]:
cursor = conn.cursor()

## Creating Table

In [6]:
cols = list(df.columns)
cols

['Basic Rank',
 'ISO',
 'Country',
 'Gold',
 'Silver',
 'Bronze',
 'Total',
 'Weighted total (Gold=3, Silver=2, Bronze=1)',
 '2011 population (from World Bank)',
 'Unnamed: 9',
 'Total medals per 10mn population',
 'Total weighted medals per 10mn pop',
 'Unnamed: 12',
 'Rank: Total medals per 10mn population',
 'Rank: Total weighted medals per 10mn pop']

In [8]:
query = """CREATE TABLE olimpiadas_prendas(
    Basic_Rank varchar(255),
    ISO varchar(255),
    Country varchar(255),
    Gold varchar(255),
    Silver varchar(255),
    Bronze varchar(255),
    Total varchar(255),
    W_T varchar(255),
    P_2011_World_Bank varchar(255),
    Unname varchar(255),
    T_M_10_P varchar(255),
    T_W_M_10_P varchar(255),
    unname2 varchar(255),
    R_T_M_10_p varchar(255),
    R_T_W_M_10_P varchar(255)
);"""

cursor.execute(query)
#cursor.execute("""DROP TABLE olimpiadas_prendas""")

## Execute many SQL querys

In [9]:
mis_preguntas = ",".join(['?' for i in cols])
mis_preguntas

'?,?,?,?,?,?,?,?,?,?,?,?,?,?,?'

In [10]:
insert_query = "insert into olimpiadas_prendas values({});".format(mis_preguntas)
insert_query

'insert into olimpiadas_prendas values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);'

In [11]:
data = df.values.tolist()
data = list(map(lambda x:list(map(str,x)),data))#each val to str

In [12]:
cursor.executemany(insert_query,data)

## Getting results

In [13]:
cursor.execute("select * from olimpiadas_prendas with(nolock)")

In [14]:
cursor.fetchall()

[['1',
  'USA',
  'United States',
  '46',
  '29',
  '29',
  '104',
  '225',
  '311591917.0',
  'nan',
  '3.3376989044295393',
  '7.220983206698523',
  'nan',
  '50',
  '46'],
 ['2',
  'CHN',
  'China',
  '38',
  '27',
  '22',
  '87',
  '190',
  '1344130000.0',
  'nan',
  '0.6472588216913542',
  '1.4135537485213483',
  'nan',
  '74',
  '71'],
 ['3',
  'GBR',
  'Great Britain',
  '29',
  '17',
  '19',
  '65',
  '140',
  '60924000.0',
  'nan',
  '10.669030267218174',
  '22.97944980631607',
  'nan',
  '22',
  '17'],
 ['4',
  'RUS',
  'Russian Federation',
  '24',
  '25',
  '33',
  '82',
  '155',
  '141930000.0',
  'nan',
  '5.777495948707109',
  '10.92087648840978',
  'nan',
  '33',
  '32'],
 ['5',
  'KOR',
  'Korea, Rep.',
  '13',
  '8',
  '7',
  '28',
  '62',
  '49779000.0',
  'nan',
  '5.624861889551819',
  '12.455051326864742',
  'nan',
  '34',
  '31'],
 ['6',
  'DEU',
  'Germany',
  '11',
  '19',
  '14',
  '44',
  '85',
  '81726000.0',
  'nan',
  '5.3838435748721345',
  '10.400606906002986',
  'nan',
  '39',
  '34'],
 ['7',
  'FRA',
  'France',
  '11',
  '11',
  '12',
  '34',
  '67',
  '65436552.0',
  'nan',
  '5.195872789874381',
  '10.23892579181128',
  'nan',
  '41',
  '35'],
 ['8',
  'ITA',
  'Italy',
  '8',
  '9',
  '11',
  '28',
  '53',
  '60770000.0',
  'nan',
  '4.6075366134605895',
  '8.721408589764687',
  'nan',
  '44',
  '39'],
 ['9',
  'HUN',
  'Hungary',
  '8',
  '4',
  '5',
  '17',
  '37',
  '9971000.0',
  'nan',
  '17.049443385818876',
  '37.10761207501755',
  'nan',
  '8',
  '6'],
 ['10',
  'AUS',
  'Australia',
  '7',
  '16',
  '12',
  '35',
  '65',
  '22620600.0',
  'nan',
  '15.472622300027409',
  '28.734869985765187',
  'nan',
  '13',
  '12'],
 ['11',
  'JPN',
  'Japan',
  '7',
  '14',
  '17',
  '38',
  '66',
  '127817277.0',
  'nan',
  '2.972994018641158',
  '5.163621190271485',
  'nan',
  '51',
  '51'],
 ['12',
  'KAZ',
  'Kazakhstan',
  '7',
  '1',
  '5',
  '13',
  '28',
  '16558458.999999998',
  'nan',
  '7.850972122466228',
  '16.90978610992726',
  'nan',
  '29',
  '26'],
 ['13',
  'NLD',
  'Netherlands',
  '6',
  '6',
  '8',
  '20',
  '38',
  '16696000.0',
  'nan',
  '11.978917105893627',
  '22.75994250119789',
  'nan',
  '18',
  '18'],
 ['14',
  'UKR',
  'Ukraine',
  '6',
  '5',
  '9',
  '20',
  '37',
  '45706100.0',
  'nan',
  '4.375783538739905',
  '8.095199546668825',
  'nan',
  '45',
  '41'],
 ['15',
  'CUB',
  'Cuba',
  '5',
  '3',
  '6',
  '14',
  '27',
  '11253665.0',
  'nan',
  '12.440391641300858',
  '23.992183879651652',
  'nan',
  '17',
  '16'],
 ['16',
  'NZL',
  'New Zealand',
  '5',
  '3',
  '5',
  '13',
  '26',
  '4405200.0',
  'nan',
  '29.510578407336784',
  '59.02115681467357',
  'nan',
  '4',
  '4'],
 ['17',
  'IRN',
  'Iran, Islamic Rep.',
  '4',
  '5',
  '3',
  '12',
  '25',
  '74798599.0',
  'nan',
  '1.604308123471671',
  '3.342308590565981',
  'nan',
  '61',
  '59'],
 ['18',
  'JAM',
  'Jamaica',
  '4',
  '4',
  '4',
  '12',
  '24',
  '2709300.0',
  'nan',
  '44.29188351234636',
  '88.58376702469272',
  'nan',
  '2',
  '2'],
 ['19',
  'CZE',
  'Czech Republic',
  '4',
  '3',
  '3',
  '10',
  '21',
  '10546000.0',
  'nan',
  '9.482268158543524',
  '19.9127631329414',
  'nan',
  '24',
  '20'],
 ['20',
  'PRK',
  'Korea, Dem. Rep.',
  '4',
  '0',
  '2',
  '6',
  '14',
  '24451285.0',
  'nan',
  '2.453858764478022',
  '5.725670450448718',
  'nan',
  '57',
  '48'],
 ['21',
  'ESP',
  'Spain',
  '3',
  '10',
  '4',
  '17',
  '33',
  '46235000.0',
  'nan',
  '3.6768681734616635',
  '7.137449983778523',
  'nan',
  '48',
  '47'],
 ['22',
  'BRA',
  'Brazil',
  '3',
  '5',
  '9',
  '17',
  '28',
  '196655014.0',
  'nan',
  '0.8644579995300806',
  '1.4238131756966035',
  'nan',
  '68',
  '69'],
 ['23',
  'BLR',
  'Belarus',
  '3',
  '5',
  '5',
  '13',
  '24',
  '9473000.0',
  'nan',
  '13.723213343185897',
  '25.335163095112424',
  'nan',
  '15',
  '14'],
 ['24',
  'ZAF',
  'South Africa',
  '3',
  '2',
  '1',
  '6',
  '14',
  '50586757.0',
  'nan',
  '1.1860811714022308',
  '2.7675227332718717',
  'nan',
  '65',
  '61'],
 ['25',
  'ETH',
  'Ethiopia',
  '3',
  '1',
  '3',
  '7',
  '14',
  '84320987.0',
  'nan',
  '0.8301610606147198',
  '1.6603221212294397',
  'nan',
  '70',
  '66'],
 ['26',
  'HRV',
  'Croatia',
  '3',
  '1',
  '2',
  '6',
  '13',
  '4407000.0',
  'nan',
  '13.614703880190607',
  '29.498525073746315',
  'nan',
  '16',
  '11'],
 ['27',
  'ROU',
  'Romania',
  '2',
  '5',
  '2',
  '9',
  '18',
  '21390000.0',
  'nan',
  '4.20757363253857',
  '8.41514726507714',
  'nan',
  '46',
  '40'],
 ['28',
  'KEN',
  'Kenya',
  '2',
  '4',
  '5',
  '11',
  '19',
  '41609728.0',
  'nan',
  '2.6436125705988753',
  '4.566239894670785',
  'nan',
  '55',
  '53'],
 ['29',
  'DNK',
  'Denmark',
  '2',
  '4',
  '3',
  '9',
  '17',
  '5574000.0',
  'nan',
  '16.146393972012916',
  '30.49874416935773',
  'nan',
  '9',
  '10'],
 ['30',
  'AZE',
  'Azerbaijan',
  '2',
  '2',
  '6',
  '10',
  '16',
  '9168000.0',
  'nan',
  '10.907504363001745',
  '17.452006980802793',
  'nan',
  '20',
  '25'],
 ['31',
  'POL',
  'Poland',
  '2',
  '2',
  '6',
  '10',
  '16',
  '38216000.0',
  'nan',
  '2.616705045007327',
  '4.186728072011722',
  'nan',
  '56',
  '54'],
 ['32',
  'TUR',
  'Turkey',
  '2',
  '2',
  '1',
  '5',
  '11',
  '73639596.0',
  'nan',
  '0.6789825408602187',
  '1.4937615898924812',
  'nan',
  '72',
  '67'],
 ['33',
  'CHE',
  'Switzerland',
  '2',
  '2',
  '0',
  '4',
  '10',
  '7907000.0',
  'nan',
  '5.058808650562793',
  '12.647021626406982',
  'nan',
  '42',
  '30'],
 ['34',
  'LTU',
  'Lithuania',
  '2',
  '1',
  '2',
  '5',
  '10',
  '3203000.0',
  'nan',
  '15.610365282547614',
  '31.220730565095227',
  'nan',
  '11',
  '9'],
 ['35',
  'NOR',
  'Norway',
  '2',
  '1',
  '1',
  '4',
  '9',
  '4952000.0',
  'nan',
  '8.077544426494347',
  '18.17447495961228',
  'nan',
  '28',
  '21'],
 ['36',
  'CAN',
  'Canada',
  '1',
  '5',
  '12',
  '18',
  '25',
  '34482779.0',
  'nan',
  '5.219996914981824',
  '7.249995715252533',
  'nan',
  '40',
  '45'],
 ['37',
  'SWE',
  'Sweden',
  '1',
  '4',
  '3',
  '8',
  '14',
  '9453000.0',
  'nan',
  '8.462921823759652',
  '14.810113191579392',
  'nan',
  '27',
  '27'],
 ['38',
  'COL',
  'Colombia',
  '1',
  '3',
  '4',
  '8',
  '13',
  '46927125.0',
  'nan',
  '1.704770961357637',
  '2.7702528122061603',
  'nan',
  '60',
  '60'],
 ['39',
  'GEO',
  'Georgia',
  '1',
  '3',
  '3',
  '7',
  '12',
  '4486000.0',
  'nan',
  '15.60410164957646',
  '26.749888542131075',
  'nan',
  '12',
  '13'],
 ['40',
  'MEX',
  'Mexico',
  '1',
  '3',
  '3',
  '7',
  '12',
  '114793341.0',
  'nan',
  '0.6097914686532209',
  '1.0453568034055214',
  'nan',
  '75',
  '74'],
 ['41',
  'IRL',
  'Ireland',
  '1',
  '1',
  '3',
  '5',
  '8',
  '4487000.0',
  'nan',
  '11.143302874972141',
  '17.82928459995543',
  'nan',
  '19',
  '24'],
 ['42',
  'ARG',
  'Argentina',
  '1',
  '1',
  '2',
  '4',
  '7',
  '40764561.0',
  'nan',
  '0.9812444686942662',
  '1.7171778202149657',
  'nan',
  '66',
  '65'],
 ['43',
  'SRB',
  'Serbia',
  '1',
  '1',
  '2',
  '4',
  '7',
  '7261000.0',
  'nan',
  '5.508883073956755',
  '9.640545379424323',
  'nan',
  '37',
  '37'],
 ['44',
  'SVN',
  'Slovenia',
  '1',
  '1',
  '2',
  '4',
  '7',
  '2052000.0',
  'nan',
  '19.49317738791423',
  '34.113060428849906',
  'nan',
  '6',
  '7'],
 ['45',
  'TUN',
  'Tunisia',
  '1',
  '1',
  '1',
  '3',
  '6',
  '10673800.0',
  'nan',
  '2.810620397609099',
  '5.621240795218198',
  'nan',
  '52',
  '49'],
 ['46',
  'DOM',
  'Dominican Republic',
  '1',
  '1',
  '0',
  '2',
  '5',
  '10056181.0',
  'nan',
  '1.9888265734278252',
  '4.972066433569563',
  'nan',
  '58',
  '52'],
 ['47',
  'TTO',
  'Trinidad and Tobago',
  '1',
  '0',
  '3',
  '4',
  '6',
  '1346350.0',
  'nan',
  '29.709956549188547',
  '44.56493482378282',
  'nan',
  '3',
  '5'],
 ['48',
  'UZB',
  'Uzbekistan',
  '1',
  '0',
  '3',
  '4',
  '6',
  '29341200.0',
  'nan',
  '1.3632707592054858',
  '2.0449061388082286',
  'nan',
  '64',
  '62'],
 ['49',
  'LVA',
  'Latvia',
  '1',
  '0',
  '1',
  '2',
  '4',
  '2220000.0',
  'nan',
  '9.00900900900901',
  '18.01801801801802',
  'nan',
  '25',
  '22'],
 ['50',
  'DZA',
  'Algeria',
  '1',
  '0',
  '0',
  '1',
  '3',
  '35980193.0',
  'nan',
  '0.2779306937013929',
  '0.8337920811041787',
  'nan',
  '82',
  '78'],
 ['51',
  'BHS',
  'Bahamas',
  '1',
  '0',
  '0',
  '1',
  '3',
  '347176.0',
  'nan',
  '28.80383436643086',
  '86.41150309929257',
  'nan',
  '5',
  '3'],
 ['52',
  'GRD',
  'Grenada',
  '1',
  '0',
  '0',
  '1',
  '3',
  '104890.0',
  'nan',
  '95.33797311469158',
  '286.01391934407474',
  'nan',
  '1',
  '1'],
 ['53',
  'UGA',
  'Uganda',
  '1',
  '0',
  '0',
  '1',
  '3',
  '34509205.0',
  'nan',
  '0.28977775639861886',
  '0.8693332691958565',
  'nan',
  '80',
  '77'],
 ['54',
  'VEN',
  'Venezuela',
  '1',
  '0',
  '0',
  '1',
  '3',
  '29278000.0',
  'nan',
  '0.3415533847940433',
  '1.0246601543821299',
  'nan',
  '78',
  '76'],
 ['55',
  'IND',
  'India',
  '0',
  '2',
  '4',
  '6',
  '8',
  '1241491960.0',
  'nan',
  '0.04832894769612523',
  '0.06443859692816697',
  'nan',
  '85',
  '85'],
 ['56',
  'MNG',
  'Mongolia',
  '0',
  '2',
  '3',
  '5',
  '7',
  '2800114.0',
  'nan',
  '17.85641584592627',
  '24.99898218429678',
  'nan',
  '7',
  '15'],
 ['57',
  'THA',
  'Thailand',
  '0',
  '2',
  '1',
  '3',
  '5',
  '69518555.0',
  'nan',
  '0.43153946453576314',
  '0.7192324408929386',
  'nan',
  '76',
  '79'],
 ['58',
  'EGY',
  'Egypt',
  '0',
  '2',
  '0',
  '2',
  '4',
  '82536770.0',
  'nan',
  '0.24231624280911407',
  '0.48463248561822814',
  'nan',
  '83',
  '80'],
 ['59',
  'SVK',
  'Slovak Republic',
  '0',
  '1',
  '3',
  '4',
  '5',
  '5440000.0',
  'nan',
  '7.352941176470588',
  '9.191176470588236',
  'nan',
  '31',
  '38'],
 ['60',
  'ARM',
  'Armenia',
  '0',
  '1',
  '2',
  '3',
  '4',
  '3100236.0',
  'nan',
  '9.676682678350938',
  '12.902243571134584',
  'nan',
  '23',
  '29'],
 ['61',
  'BEL',
  'Belgium',
  '0',
  '1',
  '2',
  '3',
  '4',
  '11008000.0',
  'nan',
  '2.7252906976744184',
  '3.633720930232558',
  'nan',
  '53',
  '57'],
 ['62',
  'FIN',
  'Finland',
  '0',
  '1',
  '2',
  '3',
  '4',
  '5387000.0',
  'nan',
  '5.568962316688324',
  '7.425283088917766',
  'nan',
  '36',
  '44'],
 ['63',
  'BGR',
  'Bulgaria',
  '0',
  '1',
  '1',
  '2',
  '3',
  '7476000.0',
  'nan',
  '2.675227394328518',
  '4.012841091492777',
  'nan',
  '54',
  '55'],
 ['64',
  'EST',
  'Estonia',
  '0',
  '1',
  '1',
  '2',
  '3',
  '1340000.0',
  'nan',
  '14.925373134328357',
  '22.388059701492537',
  'nan',
  '14',
  '19'],
 ['65',
  'IDN',
  'Indonesia',
  '0',
  '1',
  '1',
  '2',
  '3',
  '242325638.0',
  'nan',
  '0.0825335699724847',
  '0.12380035495872706',
  'nan',
  '84',
  '84'],
 ['66',
  'MYS',
  'Malaysia',
  '0',
  '1',
  '1',
  '2',
  '3',
  '28859154.0',
  'nan',
  '0.6930210081695396',
  '1.0395315122543094',
  'nan',
  '71',
  '75'],
 ['67',
  'PRI',
  'Puerto Rico',
  '0',
  '1',
  '1',
  '2',
  '3',
  '3706690.0',
  'nan',
  '5.395649487817972',
  '8.093474231726958',
  'nan',
  '38',
  '42'],
 ['68',
  'TWN',
  'Taiwan',
  '0',
  '1',
  '1',
  '2',
  '3',
  '23174528.0',
  'nan',
  '0.8630164981137912',
  '1.2945247471706869',
  'nan',
  '69',
  '73'],
 ['69',
  'BWA',
  'Botswana',
  '0',
  '1',
  '0',
  '1',
  '2',
  '2030738.0',
  'nan',
  '4.924318154286767',
  '9.848636308573534',
  'nan',
  '43',
  '36'],
 ['70',
  'CYP',
  'Cyprus',
  '0',
  '1',
  '0',
  '1',
  '2',
  '1116564.0',
  'nan',
  '8.956047302259432',
  '17.912094604518863',
  'nan',
  '26',
  '23'],
 ['71',
  'GAB',
  'Gabon',
  '0',
  '1',
  '0',
  '1',
  '2',
  '1534262.0',
  'nan',
  '6.517791615773577',
  '13.035583231547154',
  'nan',
  '32',
  '28'],
 ['72',
  'GTM',
  'Guatemala',
  '0',
  '1',
  '0',
  '1',
  '2',
  '14757316.0',
  'nan',
  '0.6776299972162959',
  '1.3552599944325918',
  'nan',
  '73',
  '72'],
 ['73',
  'MNE',
  'Montenegro',
  '0',
  '1',
  '0',
  '1',
  '2',
  '632261.0',
  'nan',
  '15.816253098008577',
  '31.632506196017154',
  'nan',
  '10',
  '8'],
 ['74',
  'PRT',
  'Portugal',
  '0',
  '1',
  '0',
  '1',
  '2',
  '10637000.0',
  'nan',
  '0.940114693992667',
  '1.880229387985334',
  'nan',
  '67',
  '63'],
 ['75',
  'GRC',
  'Greece',
  '0',
  '0',
  '2',
  '2',
  '2',
  '11304000.0',
  'nan',
  '1.7692852087756545',
  '1.7692852087756545',
  'nan',
  '59',
  '64'],
 ['76',
  'MDA',
  'Moldova',
  '0',
  '0',
  '2',
  '2',
  '2',
  '3559000.0',
  'nan',
  '5.61955605507165',
  '5.61955605507165',
  'nan',
  '35',
  '50'],
 ['77',
  'QAT',
  'Qatar',
  '0',
  '0',
  '2',
  '2',
  '2',
  '1870041.0',
  'nan',
  '10.69495267750814',
  '10.69495267750814',
  'nan',
  '21',
  '33'],
 ['78',
  'SGP',
  'Singapore',
  '0',
  '0',
  '2',
  '2',
  '2',
  '5183700.0',
  'nan',
  '3.858247969597006',
  '3.858247969597006',
  'nan',
  '47',
  '56'],
 ['79',
  'AFG',
  'Afghanistan',
  '0',
  '0',
  '1',
  '1',
  '1',
  '35320445.0',
  'nan',
  '0.28312214073180564',
  '0.28312214073180564',
  'nan',
  '81',
  '83'],
 ['80',
  'BHR',
  'Bahrain',
  '0',
  '0',
  '1',
  '1',
  '1',
  '1323535.0',
  'nan',
  '7.555523654455681',
  '7.555523654455681',
  'nan',
  '30',
  '43'],
 ['81',
  'HKG',
  'Hong Kong',
  '0',
  '0',
  '1',
  '1',
  '1',
  '7071600.0',
  'nan',
  '1.4141071327563777',
  '1.4141071327563777',
  'nan',
  '63',
  '70'],
 ['82',
  'KWT',
  'Kuwait',
  '0',
  '0',
  '1',
  '1',
  '1',
  '2818042.0',
  'nan',
  '3.548563151294409',
  '3.548563151294409',
  'nan',
  '49',
  '58'],
 ['83',
  'MAR',
  'Morocco',
  '0',
  '0',
  '1',
  '1',
  '1',
  '32272974.0',
  'nan',
  '0.30985678605262723',
  '0.30985678605262723',
  'nan',
  '79',
  '82'],
 ['84',
  'SAU',
  'Saudi Arabia',
  '0',
  '0',
  '1',
  '1',
  '1',
  '28082541.0',
  'nan',
  '0.3560931327403742',
  '0.3560931327403742',
  'nan',
  '77',
  '81'],
 ['85',
  'TJK',
  'Tajikistan',
  '0',
  '0',
  '1',
  '1',
  '1',
  '6976958.0',
  'nan',
  '1.433289407790616',
  '1.433289407790616',
  'nan',
  '62',
  '68']]

In [15]:
conn.commit()
conn.close()

In [16]:
# Turbodbc documentation http://turbodbc.readthedocs.io/en/latest/pages/introduction.html